[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = 161235365+BenMengHong05@users.noreply.github.com
	name = BenMengHong05
